{% extends "base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}Greener Software - Submissions received{% endblock %}

{% block content %}
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Submissions received by this service</h1>

    {% if error %}
      {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "You must select the Yes, I confirm check box to continue",
          href: "#confirm"
        } if error.confirmIncorrectValue,
        {
          text: "There was a problem submitting your return. Please try again",
          href: "#confirm"
        } if error.apiError
      ]
    })}}
    {% endif %}

    <form method="post">


{{ govukTable({
  captionClasses: "govuk-table__caption--l",
  head: [
    {
      text: "ID"
    },
    {
      text: "Email"
    },
    {
      text: "Organisation"
    },
    {
      text: "Phone number"
    }
  ],
  rows: submissions
}) }}

      <p class="govuk-body">
        Total submissions: <b>{{ total }}</b>
      </p>
      <p class="govuk-body">
      {% if overflow %}
        {{ overflow }} additional items not displayed
      {% endif %}
      </p>

      {{ govukButton({
      text: "Refresh",
      preventDoubleClick: true
    }) }}

    </form>

  </div>

{% endblock %}